@model dynamic
<p>
    <a asp-action="Create">Create New</a>
</p>
<select id="ddlReports">
    <option value="">Select Currency</option>
    @foreach (var item in Model.Currencies)
    {
        <option value="@item.Id">@item.Name</option>
    }
</select>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<table id="tblReports">
        <tr>
            <th>
                Date
            </th>
            <th>
                Long
            </th>
            <th>
                Short
            </th>
            <th>
                Change Long
            </th>
            <th>
                Change Short
            </th>

            <th>
                Long %
            </th>
            <th>
                Short %
            </th>
            <th>
                Net Positions
            </th>
        </tr>
</table>
<script>
    $(function () {
        $("#ddlReports").change(function () {
            var pid = $(this).val();
            $.ajax({
                type: "GET",
                url: "/Currency/GetReportDataJson?currencyid=" + pid,
                contentType: "application/json",
                dataType: "JSON",
                success: function (result) {

                    alert(JSON.stringify(result, null, 2));
                    var table = $('#tblReports');
                    var trr = $('<tr/>');
                    $("#tblReports").empty();
                    $.each(result, function (key, data) {

                        $(trr).append("<td>" + data.DateCreated + "</td>"
                            + "<td>" + data.Long + "</td>"
                            + "<td>" + data.Short + "</td>"
                            + "<td>" + data.ChangeLong + "</td>"
                            + "<td>" + data.ChangeShort + "</td>"
                            + "<td>" + data.LongPercent + "</td>"
                            + "<td>" + data.ShortPercent + "</td>"
                            + "<td>" + data.Netpositions + "</td>")
                        $(table).append(trr);
                    });
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        });
    });
</script>
