@model COT_Projects.Model.Models.ReportModel

@{
    ViewData["Title"] = "CreateReport";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">create new report</h3>
        <div class="panel-body">
            <div class="container py-5">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <form>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label asp-for="Short" class="control-label"></label>
                                    <input asp-for="Short" class="form-control" />
                                    <span asp-validation-for="Short" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label asp-for="Long" class="control-label"></label>
                                    <input asp-for="Long" class="form-control" />
                                    <span asp-validation-for="Long" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label asp-for="ChangeShort" class="control-label"></label>
                                    <input asp-for="ChangeShort" class="form-control" />
                                    <span asp-validation-for="ChangeShort" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label asp-for="ChangeLong" class="control-label"></label>
                                    <input asp-for="ChangeLong" class="form-control" />
                                    <span asp-validation-for="ChangeLong" class="text-danger"></span>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6">
                                    <label asp-for="DateCreated" class="control-label"></label>
                                    <input asp-for="DateCreated" class="form-control" />
                                    <span asp-validation-for="DateCreated" class="text-danger"></span>
                                </div>
                                <div class="col-sm-6">
                                    <label asp-for="ShortPercent" class="control-label"></label>
                                    <input asp-for="ShortPercent" class="form-control" />
                                    <span asp-validation-for="ShortPercent" class="text-danger"></span>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <label asp-for="LongPercent" class="control-label"></label>
                                        <input asp-for="LongPercent" class="form-control" />
                                        <span asp-validation-for="LongPercent" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input type="submit" value="Create Report" class="btn btn-primary" />
                                    </div>
                                    <div >
                                        <a asp-action="Index" class="btn btn-success">reports list</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

